
body {
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.list-group {
        height: 40vh;
        overflow: scroll;
}

.list-group::-webkit-scrollbar {
    display: none;
}
h3 {
    font-size: 20px;
    margin-top: 20px;
}

#search-bar {
    margin-right: 0px;
}

input {
    margin: auto;
}

#button {
    margin: auto;
}

.card {
    float: left;
    background-color: #0f0f9ae0;
}

.card-deck {
    padding: 0px 0px 10px 0px;
}

.col-8 {
    margin-top: 100px;
}

.col-4 {
    margin-top: 50px;
}

.title {
    color: white;
    font-size: 3rem;
    margin: auto;
}

.navBar {
    height: 5rem;
    background-color: #08417dc2;
    font-family: serif;
    box-shadow: 5px 5px 20px;
}

.jumbotron {
    background-color: #08417dc2;
    color: white;
    position: relative;
    font-family: serif;
    box-shadow: 5px 5px 20px black;
}

.card {
    text-align: center;
    font-family: serif;
    box-shadow: 5px 5px 20px black;
}

.day {
    font-size: 2rem;
}

.mainIcon {
    right: 5%;
    width: 200px;
    position: absolute;
    bottom: 10%;
}
