body {
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5vh;
}

#row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
}

aside {
    text-align: center;
}

.list-group {
        overflow: scroll;
}

.list-group::-webkit-scrollbar {
    display: none;
}

.list-group div {
    margin: 5px;
}

.list-group button {
    width: 170px;
    border-radius: 8px 0 0 8px;
    margin: 0 2px;
    padding: 2.5px 0 0 0;
}

.list-group span {
    font-size: 1.2rem;
    background: black;
    border: 2px solid;
    border-radius: 0 8px 8px 0;
    width: 40px;
}

.list-group span:hover {
    cursor: pointer;
}

#jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

#currentDiv span {
    margin: 10px;
}

.col-4 hr {
    width: 80%;
    height: 5px;
    background-color: black;
}

input {
    margin: 10px 10%;
    border: 3px solid gray;
    border-bottom: none;
    border-right: none;
    width: 200px
    ;
}

button {
    color: white;
    border-radius: 8px;
    background-color: teal;
    border-radius: 8px;
    width: 200px;
    margin: 0 auto;
}

.submit {
    background-color: green;
}

.col-4 {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 3rem;
    margin: auto;
}

.navBar {
    height: 5rem;
    background-color: #08417dc2;
    font-family: serif;
    box-shadow: 5px 5px 20px;
    border-bottom: 2px solid black;
}

#currentDiv {
    width: 60%;
    background-color: #3c5571;
    color: white;
    position: relative;
    font-family: serif;
    box-shadow: 5px 5px 20px black;
    height: fit-content;
    padding: 10px;
}

#currentDiv h1 {
    font-size: 3rem;
    text-align: center;
}

#currentDiv h2 {
    font-size: 1.5rem;
}

#currentDiv h2:nth-child(2) {
    text-align: center;
}

.card {
    text-align: center;
    font-family: serif;
    background-color: #032448c2;
    box-shadow: 5px 5px 20px black;
}

.day {
    font-size: 2rem;
}

.uvi {
    width: fit-content;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 5px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: #e39302;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.purple {
    background-color: purple;
}

.mainIcon {
    right: 5%;
    width: 200px;
    position: absolute;
    bottom: 0;
}


@media screen and (max-width:500px) {

    body {
        background-size: 100vh;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    aside {
        order: 4;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5px auto;
        text-align: center;
    }

    #currentDiv {
        order: 1;
        width: 95%;
        margin: 0 auto;
    }

    #currentDiv h1 {
        font-size: 1.5rem;
    }

    #currentDiv h2 {
        font-size: 1rem;
    }

    .col-4 {
        order: 2;
    }

    .card-deck {
        order: 2;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-deck .card {
        width: 20%;
    } 

    .card-deck .day {
        font-size: 1.5rem;
    }

    .card-deck .card-text {
        font-size: .5rem;
        padding: 0;
        margin: 5px;
    }
}